#addTrainFormContainer,
#currentTrainScheduleContainer {
    border: 5px;
    border-color: darkblue;
    border-style: solid;
}

#addTrainContainerLabel,
#currentTrainScheduleLabel {
    background-color: darkblue;
    color: white;
}

.container {
    width: 940px;
}

input {
    margin-right: 10px;
    width: 895px;
}

#pageHeader {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

#submitButton {
    background-color: darkblue;
    color: white;
    height: 30px;
    width: 100px;
}